{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <h4 class="text-center">
                <a href="" class="start-shopping-btn btn btn-lg py-3">Click here and start shopping!</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}