/* fonts and text formatting */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.text-black {
    color: #000 !important;
}

.text-white {
    color: #ffffff;
}

.text-gold {
    color: #d4af37;
}

.text-red {
    color: #ff0000;
}

.header-font {
    color: #d4af37;
    font-size: 3em;
}

.name-text {
    font-size: 2em;
    color: #d4af37;
}

.price-text {
    font-size: 2em;
    color: #ffffff;
}

.rating-text {
    font-size: 1.5em;
    color: #d4af37;
}

.description-text {
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.table-header-text {
    font-size: 1.2em;
    color: #d4af37;
}

.table-item-text {
    font-size: 1em;
    color: #ffffff;
}

.total-text {
    font-size: 1.5em;
    margin-right: 10px;
}

.grand-total-text {
    font-size: 2em;
    margin-right: 10px;
}

.badge-text {
    font-size: 1.5em;
}

/* general */

html {
    height: 100%;
}

body {
    background: url('/media/main-page.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
}

.gold-bg {
    background-color: #d4af37;
}

.black-bg {
    background-color: #000000;
}

.grey-bg {
    background-color: #1f1f1f;
}

.no-margins {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.translucent-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.info-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0);
    z-index: -1;
}

.bag-cover {
    background: url('/media/shopping-bag.png') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.bag-table {
    background: rgba(0, 0, 0, 0.75);
}

.desc-container {
    margin-bottom: 40px !important;
}

.prod-detail-row {
    padding-bottom: 40px !important;
}


/* bootstrap toasts */

.toast-style {
    overflow: visible;
}

.message-container {
    right: 15px;
    top: 150px;
    z-index: 99999999999;
    position: fixed;
}

.toast-capper {
    height: 10px;
}

.success-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 150px;
}

.cash-total {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* buttons */

.start-shopping-btn {
    background: #d4af37;
    font-size: 2em;
    color: #000000;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.btt-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: solid 2px #000000;
    border-radius: 10px;
    background-color: #d4af37;
}

.btt-link,
.update,
.remove {
    cursor: pointer;
}

.btt-hand {
    font-size: 2em;
}

.delete-btn {
    font-size: 2em;
    padding: 5px;
}

.delete-btn:hover {
    color: #ff6666;
}

.update-btn {
    padding: 5px;
    font-size: 2em;
    color: #00ff00;
}

.update-btn:hover {
    color: #008000;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* screens below 992px */

@media (max-width: 992px) {

    .header-container {
        padding-top: 164px;
    }

    .mobile-header {
        font-size: 1em;
        color: #d4af37 !important;
    }

    .mobile-price {
        font-size: 0.8em;
        color: #d4af37 !important;
    }
}