/* fonts and text formatting */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;500&display=swap');

.text-black {
    color: #000 !important;
}

.header-font {
    color: gold;
    font-size: 3em;
}

.name-text {
    font-size: 2em;
    color: gold;
}

.price-text {
    font-size: 2em;
    color: #ffffff;
}

.rating-text {
    font-size: 1.5em;
    color: gold;
}

.description-text {
    font-size: 1.2em;
    color: #ffffff;
}

/* general */

.header-container {
    background: ;
}

html {
    height: 100%;
}

body {
    background: url('/media/main-page.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Antonio', sans-serif;
    font-weight: 500;
}

.translucent-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.info-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0);
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* buttons */

.start-shopping-btn {
    background: gold;
    font-size: 2em;
    color: #000000;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}