{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="translucent-cover"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="header-font text-gold mb-4">Product Management</h2>
            <h5 class="text-white table-header-text">Edit a Product</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="text-gold table-header-text"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas text-gold fa-backward"></i>
                        </span>
                        <span class="text-gold text-uppercase">Cancel</span>
                    </a>
                    <button class="btn gold-bg text-uppercase text-black" type="submit">
                        <span>Update</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}